<h1>Ayuda</h1>

<p>Un quiz es una serie de preguntas a las que hay que dar respuesta. Para responder a alguna de las preguntas, debe pinchar en la pregunta, escribir en el cuadro de texto la respuesta y pulsar "Comprobar"</p>
